<div class="box"> 
 <h3>General configuration</h3>
  <p>
    <label for="settings_enable_shibboleth">
    Activate shibboleth authentication
    </label>
    <%= check_box_tag 'settings[enable_shibboleth]', nil, settings['enable_shibboleth'] %>
  </p>
  <p>
    <label for="settings_use_only_shibboleth">
    Use only the shibboleth authentication
    </label>
    <%= check_box_tag 'settings[use_only_shibboleth]', nil, settings['use_only_shibboleth'] %>
  </p>
  <p>
    <label for="settings_enable_autocreate_account">
    Auto-create shibboleth account
    </label>
    <%= check_box_tag 'settings[enable_autocreate_account]', nil, settings['enable_autocreate_account'] %>
  </p>
</div>

<div class="box">
  <h3>Attribute mapping</h3>
  <p>
    <label for="settings_header_uniqueid">
      uniqueID header name
      <span class="required"> *</span>
    </label>
    <input type="text" id="settings_header_uniqueid" value="<%= settings['header_uniqueid'] %>" name="settings[header_uniqueid]">
  </p>
  <p>
    <label for="settings_header_surname">
      surname header name
      <span class="required"> *</span>
    </label>
    <input type="text" id="settings_header_surname" value="<%= settings['header_surname'] %>" name="settings[header_surname]">
    <span>___ update user profile on each login </span><%= check_box_tag 'settings[update_surname]', nil, settings['update_surname'] %>
  </p>
  <p>
    <label for="settings_header_givenname">
      givenName header name
      <span class="required"> *</span>
    </label>
    <input type="text" id="settings_header_givenname" value="<%= settings['header_givenname'] %>" name="settings[header_givenname]">
    <span>___ update user profile on each login </span><%= check_box_tag 'settings[update_givenname]', nil, settings['update_givenname'] %>
  </p>
  <p>
    <label for="settings_header_mail">
      mail header name 
      <span class="required"> *</span>
    </label>
    <input type="text" id="settings_header_mail" value="<%= settings['header_mail'] %>" name="settings[header_mail]">
    <span>___ update user profile on each login </span><%= check_box_tag 'settings[update_mail]', nil, settings['update_mail'] %>
  </p>
</div>
